{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="welcome">
		<h1>Bienvenue sur TICKETS MANAGER</h1>
		<h3>Votre solution de gestion de tickets</h3>
	</div>
{% endblock %}
