#a-logo{
    width : 15%;
}
#logo{
    width : 100%;
}
.navbar{
    background-color: #FAEE83;
}
.navbar-links{
    width: 80%;
    display: flex;
    justify-content: flex-end;


}
.navbar-links li{
    margin-right: 1em;
    list-style-type: none;
    font-size: 2em;
}
footer{
    text-align: center;
    position:absolute;
    bottom:0;
    width: 100%;
    background-color: #FAEE83;
    color: #000000;
    font-weight: bold;
}
body{
    background-color: #A6BFBF!important;
    height: 100%;
    width: 100%;
}
.welcome{
    height: 100%;
    text-align: center;
    margin-top: 8em;
}
footer p{
    margin-top: 1em;
}

.main-top{
    margin-top: 1em;
    margin-bottom: 1em;
}
main h3{
    margin-left: 1em;
} 
.add-new{
    background-color: #FAEE83!important;
    margin-right: 2em;
}
.content{
    font-weight: bold;
    margin-bottom: 1em;
}
.show-btn i{
    color: #000000;
}

.delete-btn i{
    color: #A0313A;
}

.edit-btn i{
   color: #FAEE83;
}

a{
    text-decoration: none!important;
}

.back-btn i{
    margin-right: 0.5em;
}
main{
    width: 100%;
}
form{
    width: 30%;
}
form button{
    background-color: #FAEE83!important;
    color: #000000!important;
    border: 1px #000000 solid!important;
}